@page
@model EmployeeRDLCReport.WebUI.Pages.Admin.Employee.Report.IndexModel
@{
    ViewData["Title"] = "Report";
}


<div class="text-center">
    <h2 class="display-4">
        <i class="fas fa-users"></i> &nbsp; Employee Report!
    </h2>
</div>
<hr />
<br />
<form method="post" asp-page="index">
    <button class="btn btn-success btn-block">
        <i class="fas fa-print"></i>&nbsp; Print Report
    </button>
</form>